.carousel {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__index {
        h3 {
            font-size: 1.4rem;
            line-height: 1.9rem;
            padding: 0 2rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.6rem;
            padding: 0 2rem;
        }
    }
}
