.checkout-step {
    .form-actions {
        text-align: center;
    }
}

.finalize-xs {
    padding: 1rem .5rem;
    margin: 1rem 0;
    border-top: 1px solid #f1f1f1;
    background: #f5f5f5;

    &__left {
        font-weight: bold;
    }
}

.finalize-xs-total {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__left {
        font-weight: bold;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    hr {
        border-top: 1px solid #ddd;
    }

    &__total {
        color: $color-base;
        font-size: 1.2rem;
    }
}

.checkout-new-customer {
    padding-top: 1rem;

    &__btn {
        width: 80%;

        button {
            width: 100%;
        }
    }
}
