//base styling
html {
  /* Prevent scroll on narrow devices */
  overflow-x: hidden;
}

body {
  padding-top: 0;
  /* Prevent scroll on narrow devices */
  overflow-x: hidden;
  font-family: $font-body;
  background-color: #f5f5f5;
}

a {
  color: $color-base;

  &:hover, &:focus {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

.fff-font {
  color: #ffffff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, .75);
}

.page-header {
  font-size: 1.7rem;
  color: $color-base;
  margin-bottom: 1rem;
}

.page-subheader {
  font-size: 1.2rem !important;
  color: $color-second;
  margin-top: .2rem;
}

.paginate {

  .col-md-12 {
    margin: 0 auto;
    text-align: center;
  }
}

input[type="date"].form-control {
  line-height: 1.5rem !important;
}

// Off Canvas
.row-offcanvas {
  position: relative;
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.row-offcanvas-right {
  right: 0;
}

.row-offcanvas-left {
  left: 0;
}

.row-offcanvas-right .sidebar-offcanvas {
  right: -50%;
  /* 6 columns */
}

.row-offcanvas-left .sidebar-offcanvas {
  left: -50%;
  /* 6 columns */
}

.row-offcanvas-right.active {
  right: 50%;
  /* 6 columns */
}

.row-offcanvas-left.active {
  left: 50%;
  /* 6 columns */
}

.sidebar-offcanvas {
  position: absolute;
  top: 0;
  width: 50%;
  /* 6 columns */
}

.text-align {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.card {
  &.addressing {
    .card-header {
      font-weight: bold;
    }

    address {
      padding: 1rem;
    }
  }
}

.container-flash {
  .alert {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

.social-btn {
  display: inline-flex;
  align-items: flex-end;

  > div {
    margin-right: 10px;
  }
}

.table {
  background: #ffffff;

  th {
    font-size: .8rem;
  }
}

.dropdown {
  &:hover {
    .dropdown-menu,
    .dropdown-menu-right {
      display: block;
    }
  }
}

.modal-content {
  border-radius: 5px;
}

.text-align-left {
  text-align: left;
}