.jumbotron {

    &__index {

        h1 {
            font-size: 1.5em;
        }

        p {
            font-size: .95em;
        }

        .col-xs-12 {
            padding-left: 0;
        }
    }

    &__faq {

        li {

            &:before {
                padding-right: .2em;
            }
        }
    }
}
