.product-box {
    $root-box: &;

    background: #ffffff;
    margin-bottom: 40px;
    min-height: 380px;
    width: 100%;

    &:hover {
        border: 1px solid #cdcdcd;
    }

    &__picture {
        height: 250px;

        .carousel-cell {
            width: 100%;
            height: 100%;
            margin-right: 10px;
            text-align: center;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .flickity-prev-next-button {
            display: none;
        }
    }

    &__info {
        padding: 1em;
        margin-top: 1em;

        &--left {
            padding-right: 0;
        }

        &::after {
            clear: both;
            content: "";
            display: table;
        }

        &--label {
            font-weight: 500;
            font-size: 1.2rem;
            color: $color-second;
            display: block;
            margin-bottom: 5px;
        }

        &--price {
            font-weight: 700;
            font-size: 1.2rem;
            color: $color-base;
            position: relative;

            -webkit-transition: color 0.2s;
            -moz-transition: color 0.2s;
            transition: color 0.2s;

            &::after {
                /* crossing line - visible if price is on sale */
                content: '';
                position: absolute;
                top: 50%;
                bottom: auto;
                left: 0;
                height: 2px;
                width: 0;
                background-color: #a5d05e;
                opacity: 0;

                @include transform(translateY(-50%));

                -webkit-transition: width 0.2s 0s, opacity 0s 0.2s;
                -moz-transition: width 0.2s 0s, opacity 0s 0.2s;
                transition: width 0.2s 0s, opacity 0s 0.2s;
            }

            &.on-sale::after {
                opacity: 1;
                width: 100%;
                -webkit-transition: width 0.2s 0s, opacity 0s 0s;
                -moz-transition: width 0.2s 0s, opacity 0s 0s;
                transition: width 0.2s 0s, opacity 0s 0s;
            }
        }

        // handle by js
        &--price-new {
            /* new price - visible if price is on sale */
            color: #e76363;
            opacity: 0;

            @include transform(translateX(5px));

            -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
            -moz-transition: -moz-transform 0.2s, opacity 0.2s;
            transition: transform 0.2s, opacity 0.2s;

            &.is-visible {
                opacity: 1;
                @include transform(translateX(0));
            }
        }
    }

    &__indicator {
        /* not visible in the html document - created using jQuery */
        position: absolute;
        left: 50%;
        right: auto;
        padding: .2em;
        margin: 0;

        @include transform(translateX(-50%));

        &::after {
            clear: both;
            content: "";
            display: table;
        }

        &--item {
            display: inline-block;
            float: left;
            margin: 0 5px;
            pointer-events: none;

            &-inner {
                display: block;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                border: 1px solid #9688a0;
                /* image replacement */
                overflow: hidden;
                text-indent: 100%;
                white-space: nowrap;

                -webkit-transition: border-color 0.2s, background-color 0.2s;
                -moz-transition: border-color 0.2s, background-color 0.2s;
                transition: border-color 0.2s, background-color 0.2s;
            }

            $parent-item: &;

            &.selected {
                #{$parent-item}-inner {
                    background: #2f2933;
                    border-color: #2f2933;
                }
            }
        }
    }

    &:hover {

        .no-touch & {

            #{$root-box}__indicator {

                &--item {
                    $parent-item: &;

                    &.selected {

                        #{$parent-item}-inner {
                            /* Slider dots - change background-color of the selected dot when hover over the its parent list item */
                            background: #2f2933;
                            border-color: #2f2933;
                        }
                    }

                    &-inner {
                        /* Slider dots - change dot border-color when hover over the its parent list item */
                        border-color: #9688a0;
                    }
                }
            }

            #{$root-box}__picture {

                &-item {

                    &.move-right, &.move-left {
                        /* show preview items when hover over the its parent list item */
                        opacity: 0.3;
                    }
                }
            }
        }
    }
}
