{% extends 'VcareWebBundle::layout.html.twig' %}

{% block content %}
    <div class="account">
        {% block account_header %}
        {% endblock %}

        <div class="row account-menu">
            <div class="col-xl-3 col-xs-8 account-menu__menu">
                {% include 'VcareWebBundle:Account:menu.html.twig' %}
            </div>
            <div class="col-xl-9 col-xs-12 account-menu__data">
                {% block account_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
