<footer class="footer footer-checkout">
    {#<div class="row footer__ct">
        <div class="col-xs-12 col-sm-12 col-md-6 footer__ship">
            <strong>{{ 'Available Payments'|trans }}</strong>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 footer__payment">
            <div class="footer__icon">
                <i class="fa fa-cc-visa"></i>
            </div>
            <div class="footer__icon">
                <i class="fa fa-cc-paypal"></i>
            </div>
            <div class="footer__icon">
                <i class="fa fa-cc-mastercard"></i>
            </div>
            <div class="footer__icon">
                <i class="fa fa-cc-discover"></i>
            </div>
            <div class="footer__icon">
                <i class="fa fa-amazon"></i>
            </div>
        </div>
    </div>#}

    <div class="footer__sitemap">
        <div class="container">
            <div class="col-xs-12 footer__lc">
                <p>{{ '© 2016 Vcare Asia. All right reserved. Vcare Asia is trademark of Vcare Asia Inc.'|trans }}</p>
                <p>{{ 'View our Privacy Policy or'|trans }} <a href="/terms-and-conditions">Terms and Conditions</a>.</p>
            </div>
        </div>
    </div>
</footer>
