.nav-main {
    &__menu {
        &-cart {
            text-align: left;
        }

        &-toggle {
            text-align: right;
            .btn-hamburger {
                background: none;
                border: 0;
                color: $base-orange;
                font-weight: bold;
                cursor: pointer;
                outline: none;
            }
        }

        .category-toggle {
            &__on {
                display: block !important;

                a {
                    display: block;

                    + a {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
