.nav-main {
    &__top {
        text-align: left;

        .container {
            background: $color-base;
        }

        .nav-link {
            font-size: .7rem;
        }
    }
    &__menu {
        &-cart {
            text-align: center;
        }

        &-logo {
            img {
                width: 100%;
            }
        }

        &-toggle {
            text-align: center;
            padding: 0 0.5rem;
            .btn-hamburger {
                background: none;
                border: 0;
                padding: 0;
                border-radius: 0;
                color: $color-base;
                font-weight: bold;
                cursor: pointer;
                outline: none;

                .fa {
                    font-size: 1.5rem;
                }
            }
        }

        .category-toggle {
            &__on {
                display: block !important;

                a {
                    //display: block;

                    + a {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
