.nav-main {
    &__top {
        text-align: right;

        background: lighten($color-base, 45%); /* Old browsers */
        background: -moz-linear-gradient(left, lighten($color-base, 45%) 50%, $color-base 50%, $color-base 50%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, lighten($color-base, 45%) 50%, $color-base 50%, $color-base 50%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, lighten($color-base, 45%) 50%, $color-base 50%, $color-base 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color-base, 45%), endColorstr=$color-base, GradientType=1); /* IE6-9 */

        .container {
            padding-top: 5px;
            background: lighten($color-base, 45%);
            background: -moz-linear-gradient(45deg, lighten($color-base, 45%) 0%, lighten($color-base, 45%) 15%, $color-base 15%, $color-base 100%);
            background: -webkit-linear-gradient(45deg, lighten($color-base, 45%) 0%, lighten($color-base, 45%) 15%, $color-base 15%, $color-base 100%);
            background: linear-gradient(45deg, lighten($color-base, 45%) 0%, lighten($color-base, 45%) 15%, $color-base 15%, $color-base 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color-base, 45%), endColorstr=$color-base, GradientType=1);
        }

        a {
            font-size: .8rem;
            color: #ffffff;
        }

        &-links {
            .nav-item {
                margin-right: 10px;
            }
        }

        &-user {
            display: inline-block;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            .nav-link {
                padding-right: .5rem;
                padding-left: .5rem;
            }
        }
    }

    &__menu {
        border-bottom: 1px solid #E6E7E8;
        background: lighten($color-base, 45%);
        line-height: 75px;
        font-family: $font-heading;;

        &-brand {
            float: left;
            margin-right: 4rem;
            font-size: 1.7rem;

            // prevent box width resize when we increase font-size over column width
            overflow: hidden;

            width: 100px;
            height: 75px;

            a {
                color: $color-base !important;
            }

            img {
                height: 120px;
                position: absolute;
                margin-top: -2.5rem;
            }
        }

        &-cart {
            text-align: right;

            a {
                color: #fff;
            }
        }

        &-category {
            a {
                color: $color-second;
                vertical-align: sub;

                &:hover {
                    color: $color-base;
                }

                + a {
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                }
            }


            .dropdown.taxons {
                display: inline-block;
                cursor: default;
                margin-right: 1rem;
                .dropdown-menu {
                    border-radius: 0;
                }
            }
        }
    }

    .navbar-nav {
        .nav-item + .nav-item {
            margin-left: 0;

            // pipe (|) separate link
            // Don't like :(
            /*color: #fff;
            border-radius: .2rem;
            position: relative;
            &:before {
                content: "|";
                position: absolute;
                left: -5px;
                top: 2px;
            }*/
        }

        .nav-link + .nav-link {
            margin-left: 1.5rem !important;
        }

        .dropdown-toggle {
            cursor: default;
        }

        .dropdown-menu {
            background: $color-second;
            border: none;
            border-radius: 0;
            right: 0;
            left: auto;

            i {
                padding-right: .2rem;
            }
        }

        .dropdown-item {
            padding: .3rem .8rem;
            &:hover {
                background: $color-second;
                opacity: .8;
            }
        }
    }

    .navbar-fixed {
        line-height: 55px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        position: fixed;
        background: #fff;

        .nav-main__menu-brand {
            width: auto;
            height: auto;
            img {
                position: relative;
                margin-top: 0;
                height: 65px;
                width: auto;
            }
        }
    }

    .dropdown-cart {
        display: inline-block;

        .dropdown-menu {
            border-radius: 5px;

            .dropdown-item {
                &:hover {
                    background: none;
                }
            }
        }
        .btn {
            &.checkout {
                border-radius: 5px;
            }
            &.view-cart {
                color: $color-second;
                border-radius: 5px;
            }
        }
    }
}
