{% extends "@VcareWeb/layout.html.twig" %}

{% block content %}
    <div class="text-xs-center">
        <img src="{{ asset('assets/web/img/errors/'~(random([1, 7]))~'.png') }}" alt="ERrOR">
    </div>
{% endblock %}
